version: '3.8'

services:
  crypto-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: crypto-api
    ports:
      - "80:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
    
    restart: unless-stopped
